body, html {
  height: 100%;
  margin: 0;
}

.element {
       padding: 30px;
	position: relative;
	background: linear-gradient(0.25turn, #f3fa96, #faecb4, #f5e7c1);
	background-size: 500% 500%;
	animation: change-gradient 10s ease-in-out infinite;
	}

@keyframes change-gradient {
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}


.bg {
  /* The image used */
  background-image: url("home_img.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.text-center{
     
    color: black;
	font-family: 'Franklin Gothic Medium';
	font-size: 35px;
	font-weight: normal;

}



* Contact */
.contact{
          padding-top: 1px;
}
.contact-icon{
	color: #ffffff;
	padding-top: 4px;
}

.contact-icon:hover{
	color: #8c8c8c;
}

/* Footer */
.footer{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  height: 6%;
  background: linear-gradient(0.25turn, #1f2b16, #162b2b, #2b1616);
  text-align:center;
}

.footer-description{
	color: #ffffff;
	margin: 0;
	font-size: 12px;
    font-family: Gabriola;
}


.results{
    padding: 30px 0 0;
	flex: 1 0 auto;
}

.danger{
    color: #ff0000;
}

.safe{
    color: green;
}

.gif{
	width: 50%;
}

.gif1{
	width: 35%;
    	margin: 10px 0;
}




